name: Check Markdown links

on: 
  pull_request:

permissions:
  contents: read
  
jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.sha }}
    - uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'yes'
        use-verbose-mode: 'yes'
        check-modified-files-only: ${{ github.event_name == 'pull_request' }}
        config-file: '.github/workflows/mlc_config.json'
